body {
  width: 100%;
  height: 100%;
  margin: 0;

}

h1 {
  text-align: center;
}
figure {
  text-align: center;
}

a {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}

img {
  font-size: 50%;
  text-align: center;
}

p #featured-property {
  width: 800px;
}

div #details {
  float: left;
}